/* 头部开始 */
.header{
    width:100%;
    height: 28px;
    line-height: 28px;
    background-color:aliceblue;
    font-size: 12px;
}
.wrap{
    width:1000px;
    height: 28px;
    margin: 0 auto;
}
.header li{
    position: relative;
}
.header-left{
    float: left;
    margin-left: 20px;
}
.header-right{
    float: right;
    position: relative;
}
.header-right li a:hover{
    color: #ff6700;
}
.header .header-right li{
    float: left;
}
.header .header-right li span{
    color:aqua;
    margin: 0 16px;
}
.header a{
    color:#777777;
}
.logo1{
    width:18px;
    height:14px;
    margin: 0px 4px;
}
/* 头部结束 */
/* 头部logo开始 */
.header-logo{
    width: 100%;
    height: 100px;
    background-color: #fff;   
}
.logo{
    width: 160px;
    height: 100px;
    float: left;
}
.nav-bar{
    width: 303px;
    height: 100px;
    line-height: 100px;
    float: left;
}
.gouwudai{
    width: 96px;
    height: 34px;
    float: right;  
    margin-top: 34px;
    background-color: #fff;
    border: 1px solid gray;
}
.icon-gouwudai{
    margin-left: 6px;
    margin-top: 8px;
}
.gouwudai a{
    font-size: 12px;
    color: #777777;
}
.nav-bar li{
    float: left;
}
.nav-bar li a{
    color: #777;
    padding: 0 20px;
    font-size: 14px;
}
.search{
    width: 350px;
    height: 32px;
    float: left;
    margin-top: 34px;
}
.search input{
    width: 300px;
    height: 32px;
    border: 2px solid #fa2a83;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}
.button-search{
    width: 50px;
    height: 32px;
    float: right;  
    background-color: #fa2a83;
    border-style: none;
}
.nav-bar2{
    width: 400px;
    height: 20px;
    float: left;
}
.nav-bar2 li{
    float: left;
}
.nav-bar2 li a{
    font-size: 12px;
    color: #777;
    padding: 0 5px;
}
.nav-bar2 li span{
    color: #9c9a9a;
}
.fuwu{
    width: 82px;
    height: 110px;
    margin-left: -20px;
    position: absolute;
    border: solid 1px #777;
    border-top: none;
    background-color: #fff;
    display: none;
}
.fuwu li a{
    padding-left: 8px;
    font-size: 12px;
    color: #777;
}
.header-right li:hover .fuwu{
    display: block;
}
/* 头部logo结束 */

/* 导航栏开始 */
.nav-bar3{
    width: 100%;
    height: 43px;
}
.fenlei{
    width: 156px;
    height: 43px;
    background-color: #fa2a83;
    border: none;
    float: left;
    position: relative;
}
.fenlei a{
    font-size: 16px;
    color: white;
    float: left;
    margin-top:15px;
    margin-left: 40px;
}
.nav-bar3-right{
    width: 840px;
    height: 43px;
    float: right;
    margin-right: 0;
}
.nav-bar3-right li{
    float: left;
}
.nav-bar3-right li a{
    line-height: 43px;
    font-size: 16px;
    color: black;
    padding-left:22px;   
}
.nav-bar3-right li a:hover{
    color: #ff6700;
}
.nav-bar3-list{
    top:43px;
    width: 156px;
    height: 470px;
    background-color: #fa2a83;
    position: absolute;
    display: none;
    z-index: 100;
}
.fenlei:hover .nav-bar3-list{
    display: block;
}
.nav-bar3-list li:hover a{
    color:#777
}
.nav-bar3-list a{
    font-size: 12px;
    padding-left: 1px;
    padding-top: 18px;    
}
/* 导航栏结束 */
/* 图片区开始 */
.picture-618{
    width: 1366px;
    height: 518px; 
}
.picture{
    width: 100%;
    height: 518px;
    transform: translateX(-8px);
    overflow: hidden;
    position: relative;
}
.picture img{
    height: 518px;
    position: absolute;
}
/* 图片区结束 */

/* 选择区开始 */
.choose{
    width: 1366px;
    height: 350px;
}
.back-picture{
    width: 100%;
    height: 350px;
    transform: translateX(-8px);
}
/* 选择区结束 */
/* 二级菜单开始 */
/* 耳机菜单结束 */